<h2>About Me</h2>
<p>I have been writing code for the past eight years, because it facinates me. I love to learn and love to overcome challenges and problems with code.</p>

<h2>Strengths</h2>
<ul>
  <li>PHP 7+</li>
  <li>HTML5 / CSS3</li>
  <li>Javascript / Node</li>
  <li>Laravel 5.4</li>
</ul>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/kevinkhill">My GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://khill.site">khill.site</a>
  </li>
</ul>
