<h2>About Me</h2>
<p>I have been writing code for the past eight years, because it facinates me. I love to learn and love to overcome challenges and problems with code.</p>

<h2>Strengths</h2>
<ul>
  <li>PHP</li>
  <li>HTML / CSS</li>
  <li>Javascript / jQuery</li>
  <li>Laravel 4.2</li>
</ul>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/kevinkhill">My GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://khilldesigns.com">My Showcase</a>
  </li>
</ul>
